<img src="Assets/2.png">

# `Contents:`

- [Goals](#goals)
- [Load Libraries](#load)
- [Feature Engineering](#features)
	- [Last track of the night](#last) 
	- [Has solos?](#solo)
	- [Part of a festival?](#festival)
	- [Album Counts](#album)
	- [Geo-Location](#geo)
- [Finalise the columns and export the CSV](#final)

<a id="goals"></a>
# `Goals`
---

Ok, great - so now we have all of our primary data (live performances scraped from Metallica.com) and all of our secondary data (all the album information from Metalstorm.net). The next step is to think about all the extra features we want to create and then finalise the database.

<a id="load"></a>
# `Load Libraries`
---

In [1]:
import pandas as pd
import numpy as np
import regex as re
import ast
from tqdm import tqdm_notebook

In [33]:
df = pd.read_csv('./Dirty/Metallica_Data_Dirty.csv')

In [3]:
#converts any list in csv back to list from string
def converter(x):
    try:
        return ast.literal_eval(x)
    except:
        return x

df['Set'] = df['Set'].apply(converter)
df['Encores'] = df['Encores'].apply(converter)
df['Other_Acts'] = df['Other_Acts'].apply(converter)

<a id="features"></a>
# `Feature Engineering`
---

### There are a handful of extra features which will add extra ways of analysing the data:
    
    -Last_track_Set
    -Last_track_Encores
    
The last song of the night is always a big deal. Let's pull out what tracks are played last in the main set and last in the encore

    -Has_Guitar_Solo
    -Has_Bass_Solo
    -Has_Drum_Solo
    -Has_Medley
    
It might be interesting to see which tours we got to see any guitar / bass / drum solos and any extended medleys
    
    -Count of tracks from each album
    
This is probably the most useful feature - to see what albums get played the most in a live scenario. I'll use the dictionary I created in 1.2_Data_Acquisition_Supporting_Data to supply the data I need in order to do any cross referencing and code up any album data into the live data

    -Part of festival?
    
Some concerts were part of a festival i.e Monsters Of Rock @ Donington Park. Where feasible I'll pull out the festival name into its own series.

    -Latitude
    -Longitude
    
Using geocoding through Googlemaps API, we can append latitude and longitude data ansd do some interesting visualisations in Tableau

<a id="last"></a>
## `Last track of the night`
---

In [4]:
#returns last element of list
def last_return(x):
    try:
        return x[-1]
    except:
        return np.nan

In [5]:
df['Last_track_Set'] = df['Set'].apply(last_return)

In [6]:
df['Last_track_Encore'] = df['Encores'].apply(last_return)

<a id="solo"></a>
## `Has solos?`
---

In [7]:
#functions that tag if set contains...
#...guitar solo
def has_guitar_solo(x):
    tag = 'guitar solo'
    if tag in str(x).lower():
        return True
    else:
        return False

#...bass solo    
def has_bass_solo(x):
    tag = 'bass solo'
    if tag in str(x).lower():
        return True
    else:
        return False

#...drum solo
def has_drum_solo(x):
    tag = 'drum solo'
    if tag in str(x).lower():
        return True
    else:
        return False
    
#...song medley     
def has_medley(x):
    tag = 'medley'
    if tag in str(x).lower():
        return True
    else:
        return False
    
def has_doodle(x):
    tag = 'doodle'
    if tag in str(x).lower():
        return True
    else:
        return False

In [8]:
df['Has_Guitar_Solo'] = df['Set'].apply(has_guitar_solo)
df['Has_Bass_Solo'] = df['Set'].apply(has_bass_solo)
df['Has_Drum_Solo'] = df['Set'].apply(has_drum_solo)
df['Has_Doodle'] = df['Set'].apply(has_doodle)
df['Has_Medley'] = df['Set'].apply(has_medley)

In [9]:
df.Has_Guitar_Solo.value_counts()

False    1744
True      326
Name: Has_Guitar_Solo, dtype: int64

In [10]:
df.Has_Bass_Solo.value_counts()

False    1489
True      581
Name: Has_Bass_Solo, dtype: int64

In [11]:
df.Has_Drum_Solo.value_counts()

False    1958
True      112
Name: Has_Drum_Solo, dtype: int64

In [12]:
df.Has_Doodle.value_counts()

False    1851
True      219
Name: Has_Doodle, dtype: int64

In [13]:
df.Has_Medley.value_counts()

False    1715
True      355
Name: Has_Medley, dtype: int64

<a id="festival"></a>
## `Part of a festival?`
---

In [14]:
pre = df[['Venue']]
pre.iloc[15:17]

                               Venue
15  Austin City Limits @ Zilker Park
16  Austin City Limits @ Zilker Park

In [15]:
def keep_festival(x):
    if '@' in x:
        return x.split('@')[0].strip()
    else:
        return np.nan

In [16]:
df['Festival'] = df['Venue']

In [17]:
df['Festival'] = df['Festival'].apply(keep_festival)

In [18]:
## lets remove the festival from the venue column now
def remove_festival(x):
    if '@' in x:
        return x.split('@')[1].strip()
    else:
        return x

In [19]:
#apply function to the entire Venue column
df['Venue'] = df['Venue'].apply(remove_festival)

In [20]:
#excellent - looks like it wored
post = df[['Venue','Festival']]
post.iloc[15:17]

          Venue            Festival
15  Zilker Park  Austin City Limits
16  Zilker Park  Austin City Limits

<a id="album"></a>
## `Album Counts`
---

In [21]:
# Let's load in the previous Metallica Dictionary we made a while back
met_dict = np.load('metallica_discography.npy').item()

In [22]:
#function that takes in a set list as an argument and an album. Returns the number of times an albums song was played
#in that set
def album_counter(x,album):
    try:
        album_count=0
        #converts dictionary value (album list) into lower case
        album_list_low = [i.lower() for i in list(met_dict[album])]
        for each in x:
            if each.lower() in album_list_low :
                  album_count +=1
        return int(album_count)
    except:
        return x

In [23]:
met_dict.keys()

dict_keys(["Kill 'Em All", 'Ride The Lightning', 'Master Of Puppets', '...And Justice For All', 'Metallica', 'Load', 'Re-Load', 'Garage Inc.', 'St. Anger', 'Death Magnetic', 'Hardwired... To Self-Destruct'])

In [24]:
df["Kill_'Em_All_Count"] = df['Set'].apply(lambda x: album_counter(x,"Kill 'Em All"))
df['Ride_The_Lightning_Count'] = df['Set'].apply(lambda x: album_counter(x,"Ride The Lightning"))
df['Master_Of_Puppets_Count'] = df['Set'].apply(lambda x: album_counter(x,"Master Of Puppets"))
df['And_Justice_For_All_Count'] = df['Set'].apply(lambda x: album_counter(x,"...And Justice For All"))
df['Metallica_Count'] = df['Set'].apply(lambda x: album_counter(x,"Metallica"))
df['Load_Count'] = df['Set'].apply(lambda x: album_counter(x,"Load"))
df['Re_Load_Count'] = df['Set'].apply(lambda x: album_counter(x,"Re-Load"))
df['Garage_Inc_Count'] = df['Set'].apply(lambda x: album_counter(x,"Garage Inc."))
df['St_Anger_Count'] = df['Set'].apply(lambda x: album_counter(x,"St. Anger"))
df['Death_Magnetic_Count'] = df['Set'].apply(lambda x: album_counter(x,"Death Magnetic"))
df['Hardwired_To_Self_Destruct_Count'] = df['Set'].apply(lambda x: album_counter(x,"Hardwired... To Self-Destruct"))

In [25]:
#there are four RTL tracks in this gig...'Creeping Death','Ride the lightning','Fade to Black' 
#and 'For Whom the bell tolls'

#there are two tracks from Master of Puppets: 'Welcome Home (Sanitarium)' and 'Master of Puppets'
df.Set[0]

['Hardwired',
 'Atlas, Rise!',
 'Seek and Destroy',
 'Ride the Lightning',
 'Welcome Home (Sanitarium)',
 "Now That We're Dead",
 'Creeping Death',
 'For Whom the Bell Tolls',
 'Fade to Black',
 'Hit the Lights',
 'Fuel',
 'Moth Into Flame',
 'Sad But True',
 'One',
 'Master of Puppets']

In [26]:
#we can see the count function has worked
df[['Venue','Set','Ride_The_Lightning_Count','Master_Of_Puppets_Count']].head(1)

,Venue,Set,Ride_The_Lightning_Count,Master_Of_Puppets_Count
0,Save Mart Center,"[Hardwired, Atlas, Rise!, Seek and Destroy, Ri...",4.0,2.0

<a id="geo"></a>
## `Geo-Location`
---

In [27]:
unique_locations = df.City_Country.unique()

In [30]:
#Function that returns a location's lat long
APIkey = '---YOUR KEY HERE-----'

def latlong(x):
    import googlemaps
    gmaps = googlemaps.Client(key=APIkey)
    result = gmaps.geocode(x)   
    lat = result[0]['geometry']['location']['lat']
    long = result[0]['geometry']['location']['lng']
    latlong = lat,long
    try:
        return latlong
    except:
        return np.nan

In [ ]:
lat_long = []
for i in tqdm_notebook(unique_locations):
    lat_long.append(latlong(i))

In [263]:
locations = pd.DataFrame({'Location':unique_locations,'Lat_Long':lat_long})

In [264]:
locations[['Lat', 'Long']] = locations['Lat_Long'].apply(pd.Series)
locations.drop(['Lat_Long'],axis=1,inplace=True)

In [266]:
#merging the lat long data on the original data set
df = pd.merge(df, locations, left_index=False, right_index=False, 
                left_on='City_Country', right_on='Location', how = 'left')
df.drop(['Location'],axis=1,inplace = True)

In [267]:
#it's worked
df[['City_Country','Lat','Long']].head(20)

                                  City_Country        Lat        Long
0            Fresno, California, United States  36.737798 -119.787125
1        Sacramento, California, United States  38.581572 -121.494400
2              Portland, Oregon, United States  45.512231 -122.658719
3           Spokane, Washington, United States  47.658780 -117.426046
4          Salt Lake City, Utah, United States  40.760779 -111.891047
5                  Boise, Idaho, United States  43.615019 -116.202314
6             Las Vegas, Nevada, United States  36.169941 -115.139830
7     San Francisco, California, United States  37.774929 -122.419415
8              Albany, New York, United States  42.652579  -73.756232
9             Buffalo, New York, United States  42.886447  -78.878369
10   Philadelphia, Pennsylvania, United States  39.952584  -75.165222
11    Charlotte, North Carolina, United States  35.227087  -80.843127
12  State College, Pennsylvania, United States  40.793395  -77.860001
13     Pittsburgh, Pennsylvania, United States  40.440625  -79.995886
14         Milwaukee, Wisconsin, United States  43.038902  -87.906474
15                Austin, Texas, United States  30.267153  -97.743061
16                Austin, Texas, United States  30.267153  -97.743061
17    San Francisco, California, United States  37.774929 -122.419415
18             Saskatoon, Saskatchewan, Canada  52.133214 -106.670046
19                  Winnipeg, Manitoba, Canada  49.895136  -97.138374

<a id="final"></a>
## `Finalise the columns and export the CSV`
---

In [269]:
final = df[['Date', 'Venue','Festival','City_Country', 'Lat', 'Long','Tour', 'Set', 'Last_track_Set', 
        'Encores','Last_track_Encore','Encores_Count', 'Set_Length', 'Other_Acts',
        'Has_Guitar_Solo', 'Has_Bass_Solo',
        'Has_Drum_Solo', 'Has_Doodle', 'Has_Medley', "Kill_'Em_All_Count",
        'Ride_The_Lightning_Count', 'Master_Of_Puppets_Count',
        'And_Justice_For_All_Count', 'Metallica_Count', 'Load_Count',
        'Re_Load_Count', 'Garage_Inc_Count', 'St_Anger_Count',
        'Death_Magnetic_Count', 'Hardwired_To_Self_Destruct_Count',
        'URL']]

In [279]:
final.to_csv('./Clean/Metallica_Data_Clean.csv',index=False)

<img src="Assets/james.gif">